# Unity: gegenereerde mappen (worden bij het openen opnieuw gebouwd)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/Assets/Plugins/Editor/JetBrains*
/Assets/AssetStoreTools*

# IDE's
.vs/
.vscode/
.idea/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash- en buildrestanten
sysinfo.txt
crashlytics-buildsettings.json
*.apk
*.aab
*.unitypackage
*.app
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Blender-back-ups
*.blend1
*.blend2

# OS
.DS_Store
Thumbs.db
desktop.ini
